{% extends 'base_generic.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Popular Comics</h2>
    <div class="row">
        {% for comic in popular_comics %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ comic.cover_image.url }}" class="card-img-top" alt="{{ comic.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ comic.title }}</h5>
                        <a href="{% url 'detail_comic' comic.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No popular comics available.</p>
        {% endfor %}
    </div>
{% endblock %}
